:root {
  font-family: "SF Pro Text", "SF Pro Icons", Inter, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;

  /** 标准页宽 竖列模式 */
  --standard-max-px: 500px;

  /********************* font size *********************/
  --big-word-size: 36px;
  --title-font-size: 28px;
  --sub-title-font-size: 20px;
  --desc-font-size: 19px;
  --input-font-size: 18px;
  --btn-font-size: 17px;
  --mini-font-size: 15px;

  /********************* style colors *********************/
  --primary-color: #2a6885;
  --on-primary: #fafafa;
  --primary-hover: #1c5671;
  --primary-active: #15455e;
  --inverse-primary: #88d1ff;
  --checkbox-bg: linear-gradient(30deg, #2a6885 30%, #88d1ff);
  --popup-bg: rgba(0, 0, 0, .8);
  --other-btn-bg: #f3f3f3;
  --other-btn-text: #565656;
  --other-btn-hover: #e9e9e9;

  --bg-color: #ffffff;
  --card-bg: #f1f3f6;
  --main-text: #1f2429;
  --main-normal: #3f4549;
  --main-code: #686868;
  --main-note: #ababab;
  --copyright-color: #ccc;
  --healthy-color: #3EB574;
  --mild-color: #559CD6;
  --moderate-color: #ffc32d;
  --severe-color: #F13F5D;

  /** preview-image 预览图片 */
  --preview-image-bg: rgba(255, 255, 255, 1);
  --preview-image-bg-2: rgba(255, 255, 255, .93);

  /** 自定义组件: modal */
  --cui-modal: rgba(250, 250, 250, .82);
  --cui-modal-other-btn-bg: #f5f5f5;
  --cui-modal-other-btn-hover: #e5e7ea;

  /** Delete Button */
  --delete-btn: #dc1e30;
  --delete-btn-hover: #c61d2e;

  /** 自定义组件: snackbar */
  --cui-snackbar: #362f2f;
  --on-cui-snackbar: #ffffff;
  --cui-snackbar-shadow: 0 6px 12px rgba(0, 0, 0, .18);


  /********************* some sizes *********************/
  --btn-width: 250px;

  /********************* my default font *********************/
  font-size: var(--btn-font-size);
  color: var(--main-text);
}


/** reset CSS */
html, body, h1, h2, h3, h4, h5, h6,
button, input {
  padding: 0;
  margin: 0;
  border: 0;
}

/********************* Links *********************/
a {
  outline: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/********************* Custom Styles *********************/
.liu-no-select {
  user-select: none;
  -webkit-user-select: none;
}

.liu-bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}