
.hp-container {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hp-top-text {
  font-size: var(--desc-font-size);
  color: var(--main-normal);
  font-weight: 700;
  margin-block-end: 30px;
  text-align: center;
}

.hp-result {
  font-size: var(--big-word-size);
  color: var(--main-text);
  font-weight: 700;
  margin-block-end: 70px;
  text-align: center;
}

.hp-desc {
  font-size: var(--mini-font-size);
  color: var(--main-note);
  text-align: center;
  white-space: pre;
  margin-block-end: 60px;
}

.hp-healthy {
  color: var(--healthy-color);
}

.hp-mild {
  color: var(--mild-color);
}

.hp-moderate {
  color: var(--moderate-color);
}

.hp-severe {
  color: var(--severe-color);
}

.hp-virtual {
  width: 100%;
  height: 30px;
}